@font-face {
	font-family: Myriad;
	src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
	font-family: Zurich;
	src: url('../fonts/ZurichBTRoman.ttf');
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/KlavikaMedium-TF.ttf');
      
}

@font-face {
	font-family: ZurichRoman;
	src: url(../fonts/ZurichBTRoman.ttf);
}



p {
	margin: 0;
}

h4 {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}
.clearfix {
	content: "";
	display: block;
	clear: both;
}
html, body {
	box-sizing: border-box;
	height: 100%;
	
	font-family: Myriad;
	 background: url(../img/header-bg.png) repeat-x, url(../img/body-bg.png) top left repeat;
}

hr {
	box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
    border-bottom: 1px solid rgb(225, 219, 206);
	margin: 20px 0;
}