@charset "UTF-8";
.wrapper {
  max-width: 990px;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 350px;
  position: relative; }

/***** HEADER  ********************* */
.header {
  max-width: 990px;
  margin: 0 auto;
  color: #209a28; }
  .header .logo {
    background: url(../img/logo.png) no-repeat;
    float: left;
    height: 65px;
    width: 236px;
    margin: 17px 0 24px 24px; }
    .header .logo a {
      display: block; }

.header-nav {
  float: right;
  margin: 19px 0 24px 0; }
  .header-nav .contact {
    text-align: right; }
    .header-nav .contact span {
      color: #585755;
      font-size: 12px; }
      .header-nav .contact span:last-child {
        color: #373737;
        font-size: 20px;
        padding: 3px 0; }
  .header-nav .menu ul {
    margin-top: 10px; }
  .header-nav .menu li {
    display: inline-block;
    padding-right: 12px; }
    .header-nav .menu li:first-child {
      padding-left: 0;
      padding-right: 10px; }
    .header-nav .menu li:last-child {
      padding-right: 0; }
    .header-nav .menu li a {
      font-size: 13px;
      font-family: ZurichBT;
      text-transform: uppercase;
      color: #209a28; }
    .header-nav .menu li:first-child {
      margin-left: 0; }

nav {
  max-width: 990px;
  border-radius: 5px;
  border: 1px solid #0f941a;
  overflow: hidden;
  background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%); }
  nav li {
    float: left;
    width: 14.28%; }
    nav li a {
      display: block;
      padding: 10px 0;
      text-align: center;
      border-radius: 5px;
      text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
      color: #fff;
      font: 700 15px Myriad; }

/* ********* END OF HEADER *****************/
.main > a {
  padding: 12px 23px 10px;
  display: block;
  color: #209a28; }

.main-content {
  margin: 17px;
  background-color: #fff; }

.main-wrapper {
  float: left;
  width: 740px;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-top-left-radius: 5px; }

/* *****  Slider Content ************ */
.slides_holder {
  margin: 0 auto;
  position: relative; }
  .slides_holder .item img {
    display: block;
    width: 100%;
    height: 262px; }
  .slides_holder .slides-description {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(37, 29, 20, 0.9);
    top: 0;
    right: 0;
    width: 240px;
    height: 262px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 13px 18px 18px 18px;
    color: #fff; }
  .slides_holder h3 {
    font: 22px ZurichRoman;
    margin: 0;
    line-height: 35px; }
  .slides_holder h2 {
    color: #28b028;
    font: 32px / 35px ZurichRoman;
    margin: 0; }
  .slides_holder p {
    font: 12px /18px Arial;
    margin: 15px auto; }
    .slides_holder p a {
      color: #28b028;
      line-height: 18px; }

.indicators li button {
  box-shadow: none;
  border: none; }

.indicators li.slick-active button {
  border: none;
  outline: none; }

/* ******************* TABS HEADER ********************/
.tabs-menu {
  color: #3a3731;
  font: 400 12px / 18px Arial; }
  .tabs-menu .tabs {
    overflow: hidden;
    padding-bottom: 10px; }
    .tabs-menu .tabs .tab {
      float: left;
      background: linear-gradient(0deg, #f4f3f1 0%, #ffffff 100%);
      height: 40px;
      width: 33.6%;
      border: 1px solid #cfcdc5;
      box-sizing: border-box; }
      .tabs-menu .tabs .tab a {
        display: block;
        color: #444137;
        font: 1.25em / 20px ZurichBT; }
        .tabs-menu .tabs .tab a:before {
          content: '';
          border: 6px solid transparent;
          border-left: 6px solid #28b028;
          display: inline-block; }
        .tabs-menu .tabs .tab a .title {
          text-align: center;
          line-height: 38px;
          margin: auto; }
    .tabs-menu .tabs .tab:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
    .tabs-menu .tabs .tab:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
    .tabs-menu .tabs .tab + .tab {
      margin-left: -1px; }
    .tabs-menu .tabs .tab:hover {
      color: #209a28; }
    .tabs-menu .tabs .tab.active {
      position: relative;
      width: 32.5%;
      background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%); }
      .tabs-menu .tabs .tab.active .title {
        color: #fff; }
      .tabs-menu .tabs .tab.active:after, .tabs-menu .tabs .tab.active:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-width: 3px;
        margin-left: -6px; }
      .tabs-menu .tabs .tab.active:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #11951b; }
      .tabs-menu .tabs .tab.active:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #cfcdc5; }

/****************** END TABS ****************************/
/* ************* ╨Ъ╨Ю╨Э╨в╨Х╨Ъ╨в ╨в╨Р╨С╨Ю╨Т ******************** */
#tabs-article {
  width: 100%;
  padding: 11px 0 0; }
  #tabs-article .post {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0px 4px 13px; }
    #tabs-article .post .description {
      padding: 0 5px; }
    #tabs-article .post img {
      width: 213px;
      height: 96px;
      border: 5px solid #e9e6df;
      border-radius: 5px;
      box-sizing: border-box; }
    #tabs-article .post h4 {
      color: #3a3731;
      font: 600 14px Arial;
      margin: 10px 0; }
    #tabs-article .post p {
      color: #3a3731;
      font: 400 12px Arial;
      margin: 10px 0; }
  #tabs-article .post:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 10px; }
  #tabs-article .post:nth-child(3n) {
    padding-right: 0;
    padding-left: 10px; }

#species h2,
#tour-type h2 {
  margin: 30px;
  font-size: 1.5em; }

/* ************** ╨Ъ╨Ю╨Э╨Х╨ж ╨в╨Р╨С╨Ю╨Т ********************* */
/* Right SideBar */
aside {
  float: right;
  color: #3f3b30;
  width: 25%;
  border-right: 1px solid #fff;
  max-width: 250px;
  border-top: 1px solid #fff;
  border-top-right-radius: 5px;
  background-color: #f4f2ec;
  /* Select items */
  /* *********** SIGN IN ********/
  /******* Quick Search *********/
  /* ----------- Newsletter signup ------------  */ }
  aside .section-search {
    padding: 20px 25px 0;
    margin: 0 auto;
    max-width: 250px; }
  aside h3 {
    font: 14px 'Myriad';
    text-transform: uppercase;
    margin: 0; }
  aside p {
    font: 12px Arial;
    padding: 4px 0 8px;
    margin: 0; }
  aside form {
    margin: 5px 0 10px; }
    aside form select {
      color: #231f20;
      width: 100%;
      height: 23px;
      margin-bottom: 20px;
      -webkit-appearance: none;
      line-height: 2em;
      background: url(../img/arrow_sel.png) 99% center no-repeat, linear-gradient(0deg, #f4f3f1 0%, #ffffff 100%);
      /* for FF */
      font: 400 11px Arial;
      box-shadow: 0px 0px 0px 3px #e8e5de;
      padding-left: 5px;
      border: 1px solid #cfcdc5;
      border-radius: 5px;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none !important; }
      aside form select::-ms-expand {
        display: none; }
      aside form select:focus {
        outline: none; }
      aside form select:disabled {
        opacity: 0.5; }
  aside .search-hol {
    margin: -13px 0 0 0;
    position: relative;
    width: 100%;
    max-width: 200px;
    height: auto;
    background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%); }
    aside .search-hol a {
      display: block;
      padding-left: 15px;
      line-height: 42px;
      color: #fff; }
    aside .search-hol div {
      position: absolute;
      top: 12px;
      right: 30px;
      background-image: url(../img/sprites.png);
      background-position: 0 -19px;
      width: 15px;
      height: 15px; }
  aside form[name="quick_search"],
  aside form[name="singup-nl"] {
    margin: 15px 0 0 0; }
    aside form[name="quick_search"] h3,
    aside form[name="singup-nl"] h3 {
      padding-top: 5px; }
    aside form[name="quick_search"] p,
    aside form[name="singup-nl"] p {
      padding: 5px 0 0;
      margin-bottom: -5px; }
    aside form[name="quick_search"] input[type="text"],
    aside form[name="singup-nl"] input[type="text"] {
      display: inline-block;
      background: linear-gradient(0deg, #f4f3f1 0%, #ffffff 100%);
      font: 400 11px Arial;
      box-shadow: 0px 0px 0px 3px #e8e5de;
      border: 1px solid #cfcdc5;
      border-radius: 5px;
      color: #666666;
      margin: 15px 0;
      width: 115px;
      padding: 5px 0 4px 5px;
      height: 20px; }
    aside form[name="quick_search"] input[type="button"],
    aside form[name="singup-nl"] input[type="button"] {
      display: inline-block;
      width: 70px;
      border-radius: 5px;
      font-size: 14px;
      color: #ffffff;
      padding: 3px 9px;
      cursor: pointer;
      background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%);
      text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
      box-shadow: 0px 0px 0px 3px #d8d5cc; }
  aside form[name="singup-nl"] {
    margin-top: -2px;
    padding: 0 25px; }
    aside form[name="singup-nl"] input[name="email"] {
      width: 95%;
      margin-top: 25px;
      margin-bottom: 0; }
    aside form[name="singup-nl"] input[name="name"] {
      margin-bottom: 0; }
    aside form[name="singup-nl"] h3 {
      padding-top: 6px; }
    aside form[name="singup-nl"] input[type="button"] {
      width: 65px;
      padding: 4px 10px;
      margin-left: 4px;
      cursor: pointer;
      box-shadow: 0px 0px 0px 3px #d8d5cc;
      text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63); }

/* Latest News */
section.news .section-inner {
  padding: 20px 21px; }
  section.news .section-inner h3 {
    font: 400 14px 'Myriad Pro';
    margin-bottom: 5px;
    line-height: 18px; }
  section.news .section-inner div {
    margin: 0 0 18px;
    font: 400 12px Arial; }
    section.news .section-inner div p {
      padding-top: 3px;
      line-height: 18px; }
    section.news .section-inner div .title, section.news .section-inner div .date {
      font-weight: 700; }

footer {
  height: 330px;
  position: absolute;
  bottom: 0; }
  footer .footer-head {
    background-color: #f4f2ec;
    border-radius: 5px; }
    footer .footer-head .top-head {
      background: #878176;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 42px; }
      footer .footer-head .top-head p {
        text-align: center;
        font: italic 16px Arial;
        font-weight: normal;
        color: #fff;
        margin: 0;
        padding: 12px;
        text-shadow: rgba(0, 92, 19, 0.63137) 0px -2px 0px; }
    footer .footer-head .footer-center {
      padding: 20px 20px 0;
      overflow: hidden;
      width: 100%; }
      footer .footer-head .footer-center .col {
        float: left;
        box-sizing: border-box; }
        footer .footer-head .footer-center .col:not(:last-child) {
          border-right: 1px solid #cfcdc5;
          box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.75); }
        footer .footer-head .footer-center .col h4 {
          text-transform: uppercase;
          color: #64522a;
          font: 14px Klavika; }
        footer .footer-head .footer-center .col p {
          color: #757268; }
        footer .footer-head .footer-center .col.col-1 {
          width: 23%;
          padding: 0 25px 10px 5px; }
          footer .footer-head .footer-center .col.col-1 .title {
            margin-top: -3px; }
            footer .footer-head .footer-center .col.col-1 .title h4 {
              display: inline-block; }
            footer .footer-head .footer-center .col.col-1 .title div {
              display: inline-block;
              background-image: url(../img/sprites.png);
              background-position: -23px 0;
              width: 34px;
              height: 18px;
              margin-left: 5px; }
          footer .footer-head .footer-center .col.col-1 p {
            padding: 5px 0 10px;
            font: 400 12px Arial;
            line-height: 18px; }
          footer .footer-head .footer-center .col.col-1 a {
            display: block;
            border: 0;
            margin-left: -5px;
            height: 32px;
            width: 195px;
            background-image: url(../img/sprites.png);
            background-position: -58px 0px; }
        footer .footer-head .footer-center .col.col-2 {
          width: 54.5%;
          overflow: hidden;
          margin-bottom: 20px; }
          footer .footer-head .footer-center .col.col-2 h4 {
            margin-left: 25px; }
          footer .footer-head .footer-center .col.col-2 .inner-col {
            width: 29%;
            float: left;
            padding: 8px 0 0 28px; }
            footer .footer-head .footer-center .col.col-2 .inner-col a {
              display: block;
              color: #757268;
              font: 400 12px Arial;
              line-height: 20px; }
          footer .footer-head .footer-center .col.col-2 .col-2-2 {
            padding-left: 20px; }
          footer .footer-head .footer-center .col.col-2 .col-2-3 {
            padding-left: 15px; }
        footer .footer-head .footer-center .col.col-3 {
          width: 20%;
          padding-left: 20px; }
          footer .footer-head .footer-center .col.col-3 p {
            margin: 8px 0 17px;
            font: 400 12px Arial;
            line-height: 20px; }
            footer .footer-head .footer-center .col.col-3 p span {
              font-weight: 700; }
  footer .footer-bottom {
    text-align: center; }
    footer .footer-bottom p {
      margin-top: 20px;
      color: #716c61;
      font: 400 11px Arial;
      line-height: 18px; }
      footer .footer-bottom p span {
        color: #3a3731;
        font: 700 11px Arial; }

/*# sourceMappingURL=main.css.map */
