$green: #209a28;


.wrapper {
  max-width: 990px;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 350px;
  position: relative;
}

/***** HEADER  ********************* */

.header {
	max-width: 990px;
	margin: 0 auto;
	color: $green;

	.logo {
		background: url(../img/logo.png) no-repeat;
		float: left;
		height: 65px;
		width: 236px;
		margin: 17px 0 24px 24px;
		a {
			display: block;
		}
	}
}

.header-nav {
	float: right;
	margin: 19px 0 24px 0;
	
	.contact {
		text-align: right;

		span {
			color: #585755;
			font-size: 12px;

			&:last-child {
				color: #373737;
    			font-size: 20px;
    			padding: 3px 0;
			}
		}
	}

	.menu {
		ul {
			margin-top: 10px;
		}
		li {
			display: inline-block;
			
			 padding-right: 12px;
			
			&:first-child {
			    padding-left: 0;
			    padding-right: 10px;
  			}
			&:last-child {
   				 padding-right: 0;
			}
			
			a {
				font-size: 13px;
				font-family: ZurichBT;
				text-transform: uppercase;
				color: #209a28;
			}
			
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

nav {
	max-width: 990px;
	border-radius: 5px;
    border: 1px solid #0f941a;
    overflow: hidden;
	background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%);

	li {
		 float: left;
   		 width: 14.28%;
		a {
			display: block;
			 padding: 10px 0;
			  text-align: center;
			   border-radius: 5px;
			text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
			color: #fff;
			font: 700 15px Myriad;
 
		}
	}
}
/* ********* END OF HEADER *****************/

.main > a {
  padding: 12px 23px 10px;
  display: block;
  color: $green;
}

.main-content {
	margin: 17px;
	background-color: #fff;
}

.main-wrapper {
	float: left;
	width: 740px;
	min-height: 100%;
	position: relative;
	background-color: #fff;
	overflow: hidden;
	border-top-left-radius: 5px;	
}
/* *****  Slider Content ************ */
.slides_holder {
	margin: 0 auto;
	position: relative;
	.item {
		img {
			display: block;
			width: 100%;
			height: 262px;
		}
	}
	.slides-description {
		position: absolute;
		box-sizing:border-box;
		background-color: rgba(37,29,20, 0.9);
		top: 0;
		right: 0;
		width: 240px;
		height: 262px;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		padding: 13px 18px 18px 18px;
		color: #fff;
	}
	h3 {
		font: 22px ZurichRoman;
		margin: 0;
		line-height: 35px;
	}
	h2 {
		color: #28b028;
		font: 32px / 35px ZurichRoman;
		margin: 0;
	}
	p {
		font: 12px /18px Arial;
		margin: 15px auto;
		a {
			color: #28b028;
			line-height: 18px;
		}
	}
}
.indicators li button {
	box-shadow: none;
	border: none;
}
.indicators li.slick-active button{
 	border: none;
 	outline: none;
  }



/* ******************* TABS HEADER ********************/
.tabs-menu {
    color: #3a3731;
    font: 400 12px / 18px Arial;
   
    .tabs {
      overflow: hidden;
      padding-bottom: 10px;
      .tab {
        float: left;
        background: linear-gradient(0deg, #f4f3f1 0%, #ffffff 100%);
        height: 40px;
        width: 33.6%;
        border: 1px solid #cfcdc5;
        box-sizing: border-box;
        a {
          display: block;
          color: #444137;
          font: 1.25em / 20px ZurichBT;
          &:before {
            content: '';
            border: 6px solid transparent;
            border-left: 6px solid #28b028;
            display: inline-block;
          }

          .title {
            text-align: center;
            line-height: 38px;
            margin: auto;
            
          }
        }
      }
      .tab:first-child {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      .tab:last-child {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
      .tab + .tab {
        margin-left: -1px;
      }
      .tab:hover {
        color: $green;
      }
      .tab.active {
        position: relative;
        width: 32.5%;
        background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%);
     
        .title {
          color: #fff;
        }
        &:after,
        &:before {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          border-width: 3px;
          margin-left: -6px;
        }
        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-top-color: #11951b;
        }
        &:before {
          border-color: rgba(194, 225, 245, 0);
          border-top-color: #cfcdc5;
        }
      }
    }
  }

/****************** END TABS ****************************/

/* ************* КОНТЕКТ ТАБОВ ******************** */
#tabs-article {
	width: 100%;
	padding: 11px 0 0;
  
	.post {
		width: 33%;
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		padding: 0px 4px 13px;
    
		.description {
			padding: 0 5px;
   		 }

	    img {
	      width: 213px;
	      height: 96px;
	      border: 5px solid #e9e6df;
	      border-radius: 5px;
	      box-sizing: border-box;
	    }

	    h4 {
	      color: #3a3731;
	      font: 600 14px Arial;
	      margin: 10px 0;
	    }

	    p {
	      color: #3a3731;
	      font: 400 12px Arial;
	      margin: 10px 0;
	    }

	}

	.post:nth-child(3n+1) {
		padding-left: 0;
		padding-right: 10px;
	}

	.post:nth-child(3n) {
		padding-right: 0;
		padding-left: 10px;
	}
}

// Контент для табов №2 и №3  "ву species" , "ву tour-type" 
#species,
#tour-type {
  h2 {
    margin: 30px;
    font-size: 1.5em;
  }
}


/* ************** КОНЕЦ ТАБОВ ********************* */

/* Right SideBar */
aside {
		float: right;
		color: #3f3b30;
        width: 25%;
        border-right: 1px solid #fff;
        max-width: 250px;
        border-top: 1px solid #fff;
        border-top-right-radius: 5px;
        background-color: #f4f2ec;

        .section-search {
	        padding: 20px 25px 0;
	        margin: 0 auto;
	        max-width: 250px;
        }

        h3 {
	        font: 14px 'Myriad';
	        text-transform: uppercase;
	        margin: 0;
      	}
      	
      	p {
      		font: 12px Arial;
        	padding: 4px 0 8px;
        	margin: 0;
      	}

/* Select items */
		form {
			 margin: 5px 0 10px;

			select {
				color: #231f20;
				width: 100%;
				height: 23px;
				margin-bottom: 20px;
				-webkit-appearance: none;
				line-height: 2em;
				background: url(../img/arrow_sel.png) 99% center no-repeat, linear-gradient(0deg, #f4f3f1 0%, #ffffff 100%);
				/* for FF */
				font: 400 11px Arial;
				box-shadow: 0px 0px 0px 3px #e8e5de;
				padding-left: 5px;
				border: 1px solid #cfcdc5;
				border-radius: 5px;
				-moz-appearance: none;
				text-indent: 0.01px;
				text-overflow: '';
				/* for IE */
				-ms-appearance: none;
				appearance: none !important;

				 &::-ms-expand {
					display: none;
				}
				&:focus {
					outline: none;
				}
				&:disabled {
					opacity: 0.5;
				}
			}
		}
		.search-hol {
			margin: -13px 0 0 0;
			position: relative;
			width: 100%;
			max-width: 200px;
			height: auto;
			background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%);
	        
	        a {
		        display: block;
		        padding-left: 15px;
		        line-height: 42px;
		        color: #fff;
	        }
	        div {
				position: absolute;
				top: 12px;
				right: 30px;
				background-image: url(../img/sprites.png);
				background-position: 0 -19px;
				width: 15px;
				height: 15px;
			}
		}

	/* *********** SIGN IN ********/
	/******* Quick Search *********/
	form[name="quick_search"], 
	form[name="singup-nl"] {
		margin: 15px 0 0 0;
		

		h3 {
			padding-top: 5px;;
		}

		p {
			padding: 5px 0 0;
			margin-bottom: -5px;
		}

		input[type="text"] {
			display: inline-block;
			background: linear-gradient(0deg, #f4f3f1 0%, #ffffff 100%);
			font: 400 11px Arial;
			box-shadow: 0px 0px 0px 3px #e8e5de;
			border: 1px solid #cfcdc5;
			border-radius: 5px;
			color: #666666;
			margin: 15px 0;
			width: 115px;
			padding: 5px 0 4px 5px;
			height: 20px;
		}

		input[type="button"] {
			display: inline-block;
			width: 70px;
			border-radius: 5px;
			font-size: 14px;
			color: #ffffff;
			padding: 3px 9px;
			cursor: pointer;
			background: linear-gradient(0deg, #0f941a 0%, #66c13e 100%);
			text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
			box-shadow: 0px 0px 0px 3px #d8d5cc;
		}
	}
/* ----------- Newsletter signup ------------  */

		form[name="singup-nl"] {
			margin-top: -2px;
			padding: 0 25px;
			
			input[name="email"]{
				width: 95%;
				margin-top: 25px;
				margin-bottom: 0;
			}

			input[name="name"] {
				margin-bottom: 0;
			}

			h3 {
				 padding-top: 6px;
			}
			input[type="button"] {
				width: 65px;
				padding: 4px 10px;
				margin-left: 4px;
				cursor: pointer;
				box-shadow: 0px 0px 0px 3px #d8d5cc;
				text-shadow: 0px -2px 0px rgba(0, 92, 19, 0.63);
			}
		}
	}

/* Latest News */

	section.news {
		.section-inner {
			padding: 20px 21px;

			h3 {
				font: 400 14px 'Myriad Pro';
				margin-bottom: 5px;
				line-height: 18px;
				
			}

			& div {
				margin: 0 0 18px;
				font: 400 12px Arial;

				p {
					padding-top: 3px;
					line-height: 18px;
				}

				.title, .date {
					font-weight: 700;
				}
			}
		}
	}

footer {
	height: 330px;
    position: absolute;
    bottom: 0;
	.footer-head {
      background-color: #f4f2ec;
      border-radius: 5px;
      .top-head {
        background: #878176;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 42px;
      
        p {
          text-align: center;
          font: italic 16px Arial;
          font-weight: normal;
          color: #fff;
          margin: 0;
          padding: 12px;
          text-shadow: rgba(0, 92, 19, 0.631373) 0px -2px 0px;
        }
      }
      
      // Центр футера с колонками
      .footer-center {
        padding: 20px 20px 0;
        overflow: hidden;
        width: 100%;
        .col {
          float: left;
          box-sizing: border-box;
          &:not(:last-child) {
            border-right: 1px solid #cfcdc5;
            box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.75);
          }
         
          h4 {
            text-transform: uppercase;
            color: #64522a;
            font: 14px Klavika;
          }
          p {

            color: #757268;

          }
          
          // первая колонка центра футера
          &.col-1 {
            width: 23%;
            padding: 0 25px 10px 5px;
            
            .title {
              margin-top: -3px;
              h4 {
                display: inline-block;
              }
              div {
                display: inline-block;
                background-image: url(../img/sprites.png);
                background-position: -23px 0;
                width: 34px;
                height: 18px;
                margin-left: 5px;
              }
            }
            p {
              padding: 5px 0 10px;
              font: 400 12px Arial;
              line-height: 18px;
            }
            a {
              display: block;
              border: 0;
              margin-left: -5px;
              height: 32px;
              width: 195px;
              background-image: url(../img/sprites.png);
              background-position: -58px 0px;
            }
          }
          
          // вторая колонка центра футера (самая широкая)
          &.col-2 {
            width: 54.5%;
            overflow: hidden;
            margin-bottom: 20px;
           
            h4 {
              margin-left: 25px;
             
            }
            .inner-col {
              width: 29%;
              float: left;
              padding: 8px 0 0 28px;
            
              a {
                display: block;
                color: #757268;
                font: 400 12px Arial;
                line-height: 20px;
              }
            }
            
            // внутренние колонки вророй колонки
            & .col-2-2 {
              padding-left: 20px;
            }
            & .col-2-3 {
              padding-left: 15px;
            }
            
          }
          
          // третья колонка центра
          &.col-3 {
            width: 20%;
            padding-left: 20px;
            
            
            p {
              margin: 8px 0 17px;
              font: 400 12px Arial;
              line-height: 20px;
              span {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    
    // низ футера копирайт
    .footer-bottom{
      text-align: center;
      
      p {
        margin-top: 20px;
        color: #716c61;
        font: 400 11px Arial;
        line-height: 18px;
        span {
          color: #3a3731;
          font: 700 11px Arial;
        }
      }
    }
  }